

.content{
    height: 275px;
    width:200 ;
    background-color: rgb(64, 231, 58);
    padding-left: 150px;
    padding-top: 10px;
    padding: auto;
    padding-bottom: 10px;
    border-radius: 20000PX;
    border-left: 15px;
    border-right-color: aquamarine;
    border-width: 20px;
    border-top-left-radius: 50cm;
    
    
}

    
button{

    margin-top: 20px;
    padding: 10px;
    background-color: rgb(228, 75, 14);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    front-size:16px;
}
button:hover{
    background-color: rgb(71, 24, 133);
}

