

.content{
    height: 275px;
    width:200 ;
    background-color: white;
    padding-left: 15px;
    padding-top: 10px;
    padding: auto;
    padding-bottom: 150px;
    
    
}

.logout{
height: 250;
width: 100;
background-color:blueviolet;
padding-left: 15px;
padding-top: 50px;
margin: 10px,0px 15px;
padding-bottom: 150px;


}
    
button{

    margin-top: 20px;
    padding: 10px;
    background-color: aqua;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    front-size:16px;
}
button:hover{
    background-color: rgb(185, 32, 122);
}

