img{

    width: 350px ;
    height: 350px;
    border-radius: 50%;
}
.mother{
    margin-top: 10px;
    width: 700px;
    height: 500px;
    background-color: rgb(227, 227, 228);
    border-radius: 20px;

}

.{ Account Details
    height: 100px;
    padding: 0,0,1 auto;
    padding-top: 15%;
    padding-left : 10;
    margin: 30px ;
}
.photo>img{
    margin: 50px 50px 50px;
    width: 150px;
    height: 150px;
    padding-right: 30px;
    background-color: aqua;
    
   
}
h1{
    font-size: 18px;
    
}
    
    
